<!--@css(/nd/css/rightQuick.css)-->
<!--@js(/nd/js/rightQuick.js)-->
<div class="rightQuick">
    <ul class="right_box">
        <!-- 카카오채널 -->
        <li class="kakao_ch_icon">
            <a href="https://pf.kakao.com/" target="_blank"><img src="/nd/images/common/kakao.png" alt="카카오채널"></a>
        </li>
        <!-- 네이버 톡톡 -->
        <li class="navertalk_icon">
            <a href="https://talk.naver.com/" target="_blank"><img src="/nd/images/common/naver.png" alt="네이버 톡톡"></a>
        </li>      
        <li class="wish_icon">
            <a href="/myshop/wish_list.html"><i class="xi-heart-o"></i></a>
        </li>
        <!-- 최근본상품 -->
        <li class="recent_icon">
            <a href="javascript:;"><i class="xi-time-o"></i></a>
            <!--@import(/nd/quick_recent.html)-->
        </li>
        <li class="goTop_btn"><a href="javascript:;" class="go_top"><i class="xi-angle-up"></i></a></li><!-- TOP -->
        <!-- <li><a href="javascript:;" class="go_down"><i class="xi-angle-down"></i></a></li> --><!-- BOTTOM -->
    </ul>
</div>
